* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif ;
}
.background-color {
  background-color: #293f50;
  padding: 0 15px 15px 15px;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  padding-bottom: 30px;
  max-width: 960px;
  width: 95%;
  margin: auto;
}
.left {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  border-top: 4px solid #648880;
  padding-top: 15px;
  width: fit-content;
}
.right p {
  display: none;
}
.top nav ul {
  margin: 15px 0 0 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}
h1 {
  margin-top: 0;
  color: white;
  text-align: center;
}
p {
  color: #648880;
}
header p {
  text-align: center;
  max-width: 960px;
  margin: auto;
}
button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  height: 50px;
  width: 140px;
  border-radius: 5px;
  margin:20px auto;
  display: block;
}
.box {
  max-width: 225px;
  margin: auto;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 960px;
  width: 95%;
  margin: 60px auto;
}
.box {
  margin: 5px;
  max-width: 225px;
}
img {
  width: 100%;
  max-height: 175px;
  border-radius: 5px;
}
h5 {
  color: #516d67;
  font-weight: 300;
  font-size: 14px;
}
h2 {
  color: #516d67;
  font-weight: 300;
}
.bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 60px;
  align-items: center;
  max-width: 960px;
  width: 95%;
  margin: auto;
}
.bottom p {
  margin: 0;
}
.bottom nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  padding: 0;
}
.bottom nav ul li {
  padding-left: 20px;
  display: inline-block;
}

@media only screen and (min-width:500px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media only screen and (min-width:700px) {
  .top p {
    display: block;
    text-align: right;
  }
}
@media only screen and (min-width:760px) {
  main {
    justify-content: space-between;
  }
}